<h1 class="mt-4">Permissões</h1>
<ol class="breadcrumb mb-4">
  <li class="breadcrumb-item">Cadastro</li>
</ol>
<app-mensagem-validacao [validacao]="validaPermissao" [sucesso]="sucesso"  [erro]="erro"></app-mensagem-validacao>
<form class="mt-1">
    <div class="form-group">
      <label for="nome">Nome</label>
      <input type="text" class="form-control" id="nome" placeholder="Digite o nome da permissao" [(ngModel)]="permissao.nome" name="nome">
    </div>
    <div class="form-group">
        <label for="nome">Descrição</label>
        <textarea  rows="5" class="form-control" id="descricao" placeholder="Digite uma descrição" [(ngModel)]="permissao.descricao" name="descricao"></textarea>
      </div>
    <button type="submit" class="btn btn-success" (click)="salvar()"><i class="fa fa-save"></i> Cadastrar</button>
    <button type="button" class="btn btn-dark ml-2" [routerLink]="['/permissao']">Listar Permissao</button>
</form>