<app-navbar></app-navbar>
<div id="layoutSidenav">
  <app-sidebar></app-sidebar>
  <div id="layoutSidenav_content">
    <main>
      <div class="container-fluid">
        <app-home></app-home>
      </div>
      <footer class=" fixed-bottom py-4 bg-light mt-auto">
        <div class="container-fluid">
          <div class="d-flex align-items-center justify-content-between small">
            <div class="text-muted"><a href="#"></a></div>
            <div>
              <a href="#">Privacy Policy</a>
              &middot;
              <a href="#">Copyright &copy; iFood 2021</a>
            </div>
          </div>
        </div>
      </footer>
    </main>
  </div>
</div>