<div id="layoutSidenav_nav">
    <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
        <div class="sb-sidenav-menu">
            <div class="nav">
                <div class="sb-sidenav-menu-heading">Principal</div>
                <a class="nav-link" focus="true" [routerLink]="['/']">
                    <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>Dashboard
                </a>
                <div class="sb-sidenav-menu-heading">Cadastros</div>
                <a class="nav-link" [routerLink]="['/cidade']">
                    <div class="sb-nav-link-icon"><i class="fas fa-city"></i></div>Cidade
                </a>
                <a class="nav-link" [routerLink]="['/cozinha']">
                    <div class="sb-nav-link-icon"><i class="fas fa-globe"></i></div>Cozinha
                </a>
                <a class="nav-link" [routerLink]="['/restaurante']">
                    <div class="sb-nav-link-icon"><i class="fas fa-utensils"></i></div>Restaurante
                </a>
                <a class="nav-link" [routerLink]="['/forma-pagamento']">
                    <div class="sb-nav-link-icon"><i class="fas fa-money-check"></i></div>Forma Pagamento
                </a>
                <a class="nav-link" [routerLink]="['/permissao']">
                    <div class="sb-nav-link-icon"><i class="fas fa-lock"></i></div>Permissão
                </a>
                <a class="nav-link" [routerLink]="['/produto']">
                    <div class="sb-nav-link-icon"><i class="fab fa-product-hunt"></i></div>Produto
                </a>
                <a class="nav-link" [routerLink]="['/usuario']">
                    <div class="sb-nav-link-icon"><i class="fas fa-users"></i></div>Usuário
                </a>
            </div>
        </div>
        <div class="sb-sidenav-footer">
            Start Bootstrap
        </div>
    </nav>
</div>