<h1 class="mt-4">Cozinha</h1>
<ol class="breadcrumb mb-4">
  <li class="breadcrumb-item">Cadastro</li>
</ol>
<div *ngIf="validaCozinha == false" class="alert alert-danger alert-dismissible fade show" role="alert">
  <strong>Nome e Obrigatório, deve conter no mínimo 5 caracteres.</strong>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div *ngIf="validaCozinha == true" class="alert alert-success alert-dismissible fade show" role="alert">
  <strong> Cozinha cadastrada com sucesso.</strong>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<form class="mt-1">
    <div class="form-group">
      <label for="nome">Nome</label>
      <input type="text" class="form-control" id="nome" placeholder="Digite o nome da cozinha" [(ngModel)]="cozinha.nome" name="nome">
    </div>
    <button type="submit" class="btn btn-success" (click)="salvar()"><i class="fa fa-save"></i> Cadastrar</button>
    <button type="button" class="btn btn-dark ml-2" [routerLink]="['/cozinha']">Listar Cozinha</button>
</form>