<h1 class="mt-4">Cozinha</h1>
<ol class="breadcrumb mb-4">
  <li class="breadcrumb-item">Cadastro</li>
</ol>
<app-mensagem-validacao [validacao]="validaCozinha" [sucesso]="sucesso"  [erro]="erro"></app-mensagem-validacao>
<form class="mt-1">
    <div class="form-group">
      <label for="nome">Nome</label>
      <input type="text" class="form-control" id="nome" placeholder="Digite o nome da cozinha" [(ngModel)]="cozinha.nome" name="nome">
    </div>
    <button type="submit" class="btn btn-success" (click)="salvar()"><i class="fa fa-save"></i> Cadastrar</button>
    <button type="button" class="btn btn-dark ml-2" [routerLink]="['/cozinha']">Listar Cozinha</button>
</form>