<h1 class="mt-4">Cozinha</h1>
<ol class="breadcrumb mb-4">
  <li class="breadcrumb-item">Cadastro</li>
</ol>
<form class="mt-1">
    <div class="form-group">
      <label for="nome">Nome</label>
      <input type="text" class="form-control" id="nome" placeholder="Digite o nome da cozinha">
    </div>
    <button type="submit" class="btn btn-success"><i class="fa fa-save"></i> Cadastrar</button>
    <button type="button" class="btn btn-dark ml-2" [routerLink]="['/cozinha']">Listar Cozinha</button>
</form>