<nav class="nav nav-pills nav-fill">
    <h1>Cidades</h1>
    <div class="input-group">
        <button type="button" class="btn btn-dark mr-2">Listar Cidades</button>
        <button type="button" class="btn btn-success" [routerLink]="['/cidade-frm']">Cadastrar Cidades</button>
    </div>
  </nav>
<table class="table mt-1">
    <thead class="thead-dark">
      <tr class="row">
        <th class="col-xs-10 col-sm-10 col-md-10 col-lg-10">Cidade</th>
        <th class="col-xs-1 col-sm-1 col-md-1 col-lg-1">Editar</th>
        <th class="col-xs-1 col-sm-1 col-md-1 col-lg-1">Deletar</th>
    </tr>
    </thead>
    <tbody>
      <tr class="row">
        <td class="col-xs-10 col-sm-10 col-md-10 col-lg-10">Araguari MG</td>
        <td class="col-xs-1 col-sm-1 col-md-1 col-lg-1"><i class="fas fa-edit"></i> Editar</td>
        <td class="col-xs-1 col-sm-1 col-md-1 col-lg-1"><i class="fas fa-trash"></i> Deletar</td>
    </tr>
    </tbody>
</table>